@model IEnumerable<Application.bbdd.Entities.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{Html.RenderPartial("User/_UsersTable", Model);}

@section Scripts{

    <script src="~/Scripts/App/App.users.js"></script>
}